body {
    display: grid;
    height:100%;
    grid-template-areas: "header header" "project1 image1" "image2 project2";
    grid-template-rows: 1fr 4fr 4fr ;
	row-gap: 5px;
    align-items: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#project1{
	grid-area: project1;
}

#image1{
	grid-area: image1;
}

#project2{
	grid-area: project2;
}

#image2{
	grid-area: image2;
}

.banner {
    grid-area: header;
    text-align: center;
    background-color: dimgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: white;
    background-size: cover;
    height:100%;
}

.project{
    background-color: lightgrey;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: 0;
    background-size: cover;
    height:100%;
}
.project p{
    padding-left: 5px;
}

.projectImage {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding:0;
    margin: 0;
    background-color: grey;
    background-size: cover;
    height:100%;
}

.projectImage img{
	max-width: 100%;
	max-height: 100%;
}
