/*
light shades - F5F7F6
light accent - 78BF58
main brand   - 93A48F
dark accent  - 796C69
dark shade   - 2E3339
*/


@media (width <=1000px) {
    body {
        background-color: #93A48F;
        display: grid;
        grid-template-areas: "header" "subTitle1" "uniAssignment1" "uniAssignment2" "subTitle2" "personalProject1" "image1" "personalProject2" "image2";
        
        align-items: center;
        margin: 0px;
        
    }
}

@media (width > 1000px) {
    body {
        background-color: #93A48F;
        display: grid;
        grid-template-areas: "header header" "subTitle1 subTitle1" "uniAssignment1 uniAssignment1" "uniAssignment2 uniAssignment2" "subTitle2 subTitle2" "personalProject1 image1" "personalProject2 image2";
        
        grid-template-columns: 5fr 4fr;
        align-items: center;
        margin: 0px;
    }
}


#subTitle1 {
    grid-area: subTitle1;
}

#personalProject1 {
    grid-area: personalProject1;
}

#image1 {
    grid-area: image1;
}

#subTitle2 {
    grid-area: subTitle2;
}

#personalProject2 {
    grid-area: personalProject2;
}

#image2 {
    grid-area: image2;
}

#uniAssignment1{
    grid-area: uniAssignment1;
}

#uniAssignemnt2{
    grid-area: uniAssignment2;
}

.banner {
    grid-area: header;
    text-align: center;
    color: #78BF58;
    background-color: #2E3339;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-size: cover;
    box-sizing: border-box;
    border: 5px double #78BF58;
    height: 100%;
}

.subTitle {
    text-align: center;
    background-color: #2E3339;
    color: #F5F7F6;
   
    box-sizing: border-box;
    
    height: 100%;
}

.project h2{
    text-decoration: underline;
}

.project h3{
    text-decoration: underline;
}

.project {
    color: #2E3339;
    background-color: #93A48F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: 0;
    background-size: cover;
    
    box-sizing: border-box;

    max-height: 100%;
}

.project p {
    padding-left: 5px;
}

.project a {
    padding-left: 5px;
}


.projectImage {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: #93A48F;
    background-size: cover;
    box-sizing: border-box;
}

.projectImage img {
    width: 100%;
    height: auto;
}

.projectImage p {

    font-size: x-small;
}